name: Check the source code
on:
 push:
  branches:
   - develop
 pull_request:
  branches:
   - develop
jobs:
 test:
  name: Check the source code
  runs-on: ubuntu-latest
  steps:
   - uses: actions/checkout@v3
   - uses: subosito/flutter-action@v2.3.0
     with:
      flutter-version: '3.10.1'
   - name: Install packages
     run: flutter pub get
   # - name: Run the code generator
   #   run: flutter pub run build_runner build
   - name: Linter
     run: flutter analyze
   # - name: Test
   #   run: flutter test test
     
